<%= stylesheet_link_tag "ludee" %>
<section class="about-section text-center" id="about">
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Our Ludee Team</h2>
            <p class="text-white-50">
                Meet the person behind this project
            </p>
        </div>
    </div>
    <img class="img-fluid" src="https://lh3.googleusercontent.com/proxy/ZQ9I1oEz8e31GnOHkG85eOVF-2C0K-ksqI63cjfd9Gwbuw-nFmaZENWjdvu0sRUL-UpLjq5dcfh9tNCbYr0IGywOwdSpw0IZ4ll3Rhc8UL4UJHLmDg" alt="" />
</div>
</section>
<section class="projects-section bg-black" id="projects">
<div class="container">
    <!-- First Person One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="https://avatars.githubusercontent.com/u/15971200?s=400&v=4" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Basil Albader </h4>
                        <p class="mb-0 text-white-50">CEO of the Project</p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Second Person  Two Row-->
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6"><img class="img-fluid" src="https://media-exp1.licdn.com/dms/image/C4E03AQHIEVK2EuM5Fg/profile-displayphoto-shrink_800_800/0/1588946200330?e=1621468800&v=beta&t=x9_cFJcs_URxDrx2qSIP9h_2Pt7KH1zxRMyB6MkeewE" alt="" /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Janaina Figueras</h4>
                        <p class="mb-0 text-white-50">Executive of Back-End</p>
                        <hr class="d-none d-lg-block mb-0 mr-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Person three Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="https://media-exp1.licdn.com/dms/image/C4E03AQFdg6hRpd5uKQ/profile-displayphoto-shrink_800_800/0/1516565057840?e=1621468800&v=beta&t=_3iGW-t6ABadGZ46g_rojrn5eDUZEHVbMmOkbCbraH4" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Youssef Annabi </h4>
                        <p class="mb-0 text-white-50">CTO</p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Person Four Row-->
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6"><img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGXanBhdG7phR7z8NknS4PnPZtIaJ-92vczQ&usqp=CAU" alt="" /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Charles Campet</h4>
                        <p class="mb-0 text-white-50">COO</p>
                        <hr class="d-none d-lg-block mb-0 mr-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Person fitfh Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="https://avatars.githubusercontent.com/u/76985651?s=460&u=0e46bb25c81130f91f10741e216b20ce5944d5f6&v=4" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Yann Rannou</h4>
                        <p class="mb-0 text-white-50">Head of Marketing
                        </p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>