<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About Us</h1>
          <p class="lead text-muted">Wondering who we are?.</p>
        </div>
      </section>
     <div class="album py-5 bg-grey">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [225%x225]" style="height: 100%; width: 100%; display: block;" src="https://avatars.githubusercontent.com/u/15971200?s=400&v=4" data-holder-rendered="true">
                <div class="card-body">
                    <h1 class="card-text">Basil Albader</h1>
                  <p class="card-text">CEO</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [225%x225]" style="height: 100%; width: 100%; display: block;" src="https://media-exp1.licdn.com/dms/image/C4E03AQHIEVK2EuM5Fg/profile-displayphoto-shrink_800_800/0/1588946200330?e=1621468800&v=beta&t=x9_cFJcs_URxDrx2qSIP9h_2Pt7KH1zxRMyB6MkeewE" data-holder-rendered="true">
                <div class="card-body">
                    <h1 class="card-text">Janaina Figueras</h1>
                  <p class="card-text">Vice President</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [225%x225]" style="height: 100%; width: 100%; display: block;" src="https://media-exp1.licdn.com/dms/image/C4E03AQFdg6hRpd5uKQ/profile-displayphoto-shrink_800_800/0/1516565057840?e=1621468800&v=beta&t=_3iGW-t6ABadGZ46g_rojrn5eDUZEHVbMmOkbCbraH4" data-holder-rendered="true">
                <div class="card-body">
                    <h1 class="card-text">Youssef Annabi</h1>
                  <p class="card-text">CTO</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [225%x225]" style="height: 100%; width: 100%; display: block;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo7yDVo43NLPCrSixLBE1kjdYHJ11FRDCx2w&usqp=CAU" data-holder-rendered="true">
                <div class="card-body">
                    <h1 class="card-text">Charles Campet</h1>
                  <p class="card-text">COO</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [225%x225]" style="height: 100%; width: 100%; display: block;" src="https://avatars.githubusercontent.com/u/76985651?s=460&u=0e46bb25c81130f91f10741e216b20ce5944d5f6&v=4" data-holder-rendered="true">
                <div class="card-body">
                    <h1 class="card-text">Yann Rannou</h1>
                  <p class="card-text">Director of Marketing</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>