<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Discover a new way to pay off your student loan</h2>
                <p class="text-white-50">
                The Crowdfunding Quiz Game to help students pay off their student loan and 
                earn some cash on the side. 
                Ludee.org is a not for profit organization created with the sole purpose of helping students pay off
                their student loans while playing a fun quizz game and win weekly awards. 90% of the generated income on Ludee goes directly to our users,
                while 10% is used to operate the Ludee platform, less banking and process charges.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="assets/img/ipad.png" alt="" />
    </div>
</section>