<%= stylesheet_link_tag "uniform" %>
<%= stylesheet_link_tag "home_page" %>

<header class="mastheads text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Contact</h1>
        <h2 class="masthead mb-0">Sales and Product <span class="text-danger">Inquiries.</span></h2>
      </div>
    </div>
    <div class="bg-circle-2 bg-circle"></div>
  </header>

<section class="bg-black">
    <div class="container text-white bg-black pt-8 pb-5">
        <div>
            <div class="our-team-main">
                <div class="team-front">
                    <img src="https://cdn.discordapp.com/attachments/816263858040864830/823937462803628112/1510202.svg" class="img-fluid" />
                    <h3>Ludee.org & Partners International</h3>
                    <p>Headquaters</p>
                </div>
                <div class=" team-back" >
                    <h2 style="color:RebeccaPurple;">Ludee.org </h2>
                    <h5>Burj Khalifa 163th Floor, 1 Sheikh Mohammed bin Rashid Blvd<h5>
                    <h5>Downtown Dubai - Dubai, United Arab Emirates </h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-black">
    <div class="container text-white bg-black pb-5">
        <div class="row">
            <div class="container pb-5">
	            <div class="row">

                    <!--team-1-->
                    <div class="col-lg-4">
                            <div class="our-team-main">

                            <div class="team-front">
                            <img src="https://www.flaticon.com/svg/vstatic/svg/3708/3708180.svg?token=exp=1616581095~hmac=889e01093bebfacb22ec6c8eed994890" class="img-fluid" />
                            <h3>Email Support</h3>
                            <p>Ludee.org United States</p>
                            </div>

                            <div class="team-back">
                            <h5 style="color:MintCream;">Ludee.org </h5>
                            <hr class="two">
                            <h5>ludee.org@gmail.com<h5> 
                    </div>

                    </div>
                    </div>
                    <!--team-1-->

                    <!--team-2-->
                    <div class="col-lg-4">
                    <div class="our-team-main">

                    <div class="team-front">
                    <img src="https://www.flaticon.com/svg/vstatic/svg/1251/1251746.svg?token=exp=1616536569~hmac=cc4219ea84ec09ddeba39b59eb0fbf94" class="img-fluid" />
                    <h3>Phone Support</h3>
                    <p>Ludee.org United States</p>
                    </div>
                    <div class="team-back">
                    <h5 style="color:MintCream;">Available on Weekdays, from 6h30 to 20h30</h5>
                    <hr class="two">
                    <h5>(+1) 09 87 65 43 21<h5>
                    </div>
                    </div>
                    </div>
                    <!--team-2-->

                    <!--team-3-->
                    <div class="col-lg-4">
                    <div class="our-team-main">
                    <div class="team-front">
                    <img src="https://www.flaticon.com/svg/vstatic/svg/3567/3567109.svg?token=exp=1616582542~hmac=64dc2c9136c07474cdc1d8502775482c" class="img-fluid" />
                    <h3>Communication Dept.</h3>
                    <p>Ludee.org America</p>
                    </div>

                    <div class="team-back">
                    <h5 style="color:MintCream;">Available on Weekdays, from 6h30 to 20h30</h5>
                    <hr class="two">
                    <h5>(+1) 09 69 69 69 78<h5>
                    </div>
                    
                    </div>
                    </div>
                    <!--team-3-->
	    </div>
        <div class=" text-white bg-black pb-8">
        <div>
            <div class="our-team-main">
                <div class="team-front">
                    <img src="https://www.flaticon.com/svg/vstatic/svg/4082/4082838.svg?token=exp=1616583062~hmac=ad221aebfd410a38404512c65aeb86d6" class="img-fluid" />
                    <h3>New York Office</h3>
                    <p>Ludee.org United States</p>
                </div>
                <div class=" team-back" >
                <h2 style="color:RebeccaPurple;">Ludee New York </h2>
                <h5>One World Trade Center 78th Floor, 285 Fulton St<h5>
                <h5>New York, NY 10007, United States</h5>
                </div>
            </div>
        </div>
        <div class=" text-white bg-black pb-8">
        <div>
            <div class="our-team-main">
                <div class="team-front">
                    <img src="https://www.flaticon.com/svg/vstatic/svg/4082/4082981.svg?token=exp=1616583062~hmac=b014288145c2f3145a1e949d8fe48028" class="img-fluid" />
                    <h3>Los Angeles Office</h3>
                    <p>Ludee.org United States</p>
                </div>
                <div class=" team-back" >
                <h2 style="color:RebeccaPurple;">Ludee Los Angeles </h2>
                <h5>777 Building 50th Floor, 777 South Figueroa Street<h5>
                <h5>Los Angeles, California</h5>
                </div>
            </div>
        </div>
    </div>
	</div>
</section>
