<%= stylesheet_link_tag "uniform" %>
<header class="mastheads text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">FAQ</h1>
        <br/>
        <h3 class="masthead mb-0">We want you to have the simplest, easiest experience possible. But we know you might have a few questions.</h3>
      </div>
    </div>
    <div class="bg-circle-2 bg-circle"></div>
  </header>
  <section class="bg-black">
    <div class="container text-white bg-black">
    <div class="card-content card border-light" >
    <div class="card-body bg-black">
        <h4 class="masthead-subheading">Looking for something? </h4>
        <p class="card-text">We figured it out that you might need some answer to you question </p>
    </div>
    <div id="accordionWrap1" role="tablist" aria-multiselectable="true">
        <div class="card accordion collapse-icon panel mb-0 box-shadow-0 border-0">
            <div id="heading11" role="tab" class="card-header card-collapse-border collapsed bg-dark" data-toggle="collapse" href="#accordion11" aria-expanded="false" aria-controls="accordion11">
                <a class="h6 blue text-white">Why are you charging 10€ a month?</a>
            </div>
            <div id="accordion11" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading11" class="collapse" aria-expanded="true" style="">
                <div class="card-body bg-black">
                    <p class="card-text">50% goes to the Student Loan Fund, 40% goes to the weekly prizes and the remaining 10% goes to Ludee (in order to run the platform..)</p>
                </div>
            </div>
            <div id="heading12" role="tab" class="card-header card-collapse-border collapsed bg-dark" data-toggle="collapse" href="#accordion12" aria-expanded="false" aria-controls="accordion12">
                <a class="h6 blue collapsed text-white">How am I supposed to play?</a>
            </div>
            <div id="accordion12" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading12" class="collapse" aria-expanded="false" style="">
                <div class="card-body bg-black">
                    <p class="card-text">Well simple, all you need is 10 bucks, your brain and you are good to go! Then you will have to answer a bunch of question and depending of your score you might win something... Who knows?</p>
                </div>
            </div>
            <div id="heading13" role="tab" class="card-header card-collapse-border collapsed bg-dark" data-toggle="collapse" href="#accordion13" aria-expanded="false" aria-controls="accordion13">
                <a class="h6 blue collapsed text-white">I Won where can I redeem my prize?</a>
            </div>
            <div id="accordion13" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading13" class="collapse" aria-expanded="false" style="">
                <div class="card-body bg-black">
                    <p class="card-text">Don't worry you'll be noticed, just check out your email !

                    </p>
                </div>
            </div>
            <div id="heading14" role="tab" class="card-header card-collapse-border collapsed bg-dark" data-toggle="collapse" href="#accordion14" aria-expanded="true" aria-controls="accordion14">
                <a class="h6 blue collapsed text-white">I got a specific question where can I contact the support?</a>
            </div>
            <div id="accordion14" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading14" class="collapse" aria-expanded="false" style="">
                <div class="card-body bg-black">
                    <p class="card-text">Please write an email ludeeorg@gmail.com</p>
                </div>
            </div>
            <div class="card-footer bg-black">
            <small><%= link_to "See ou pages contact for more specific questions", community_path, class: "text-info" %></small>
            </div>
        </div>
    </div>
</div>
    </div>
  </section>
