<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">HELP</h1>
        <h2 class="masthead mb-0">We want you to have the simplest, easiest experience possible. But we know you might have a few questions.</h2>
      </div>
    </div>
    <div class="bg-circle-3 bg-circle"></div>
  </header>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div>
          <div class="p-5">
            <h2 class="display">Why are you charging 10€ a month?</h2>
            <p>50% goes to the Student Loan Fund, 40% goes to the weekly prizes and the remaining 10% goes to Ludee (in order to run the platform..)</p>
          </div>
          <div class="p-5">
            <h2 class="display">How am I supposed to play?</h2>
            <p> Well simple, all you need is 10 bucks, your brain and you are good to go! Then you will have to answer a bunch of question and depending of your score you might win something... Who knows?</p>
          </div>
          <div class="p-5">
          <h2 class="display">I Won where can I redeem my prize? </h2>
          <p>Don't worry you'll be noticed, just check out your email !</p>
        </div>
        <div class="p-5">
          <h2 class="display">I got a specific question where can I contact the support?</h2>
          <p>Please write an email ludeeorg@gmail.com</p>
        </div>
        </div>
      </div>
    </div>
  </section>