<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<%= stylesheet_link_tag "home_page" %>


<header class=" masthead text-center text-white" id="top_header">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading ">Ludee</h1>
      </div>
      <div>
        <h2 class="container just_know mt-3">The Crowdfunding Quiz Game to help students pay off their student loan
        and earn some cash on the side.</h2>
      </div>
      <div>
        <a href="/users/sign_up" class=" edit mt-3">Start Playing Now</a>
      </div>
    </div>
  </header>
  <body>
  <section class="how_it_works pt-5" id="how_it_works">
      <div class="section-block-grey">
        <div class="container-fluid">
        <h2 id="how_much">How It Works</h2>
      </div>
  </div>
</div>
<div class="container pb-5">
	<div class="row">

	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="https://cdn.discordapp.com/attachments/822541048059920435/823536420706320404/startup.png" class="img-fluid" />
	<h3>Sign Up</h3>
	<p>and set up your profile</p>
	</div>

	<div class="team-back">
	<span>
	Sign up and start playing Trivia to win weekly awards and raise funds to pay off your student loan.
	</span>
	</div>

	</div>
	</div>
	<!--team-1-->

	<!--team-2-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="https://cdn.discordapp.com/attachments/822541048059920435/823538596145004615/idea.png" class="img-fluid" />
	<h3>Play Trivia</h3>
	<p>and earn weekly prizes</p>
	</div>
	
	<div class="team-back">
	<span>
	The highest players score takes home the weekly trivia award. Trivia has never been this easy.
	</span>
	</div>
	
	</div>
	</div>
	<!--team-2-->
	
	<!--team-3-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="https://cdn.discordapp.com/attachments/822541048059920435/823544805069815828/document.png" class="img-fluid" />
	<h3>Crowdfund</h3>
	<p>Crowdfund Student Loans</p>
	</div>
	
	<div class="team-back">
	<span>
	While playing trivia, crowdfund student loan and pay off yours.
	</span>
	</div>
	
	</div>
	</div>
	<!--team-3-->
	</div>
	</div>
</section>

<section class="rules pt-5 pb-0">
<div class="container">
<div class="page-header">
    <h1 id="timeline">The Rules</h1>
</div>
<ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" id="timeline">I</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" id="timeline">II</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" id="timeline">III</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" id="timeline">IV</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" id="timeline">V</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
        </div>
      </div>
    </li>
</ul>
</div>
</section>


<section class="how_it_works" id="price">
  <div class="section-block-white">
      <div class="container-fluid">
        <h2 class="pt-5 pb-5" id="how_much">How Much?</h2>
      </div>
      <div class="container just_know">
        <p class="about_description">Just so you know, 90% of the generated income on Ludee goes directly to our users, while 10% is used to operate the Ludee platform, less banking and process charges.</p>
      </div>
   </div>
</section>


    <section class="section_header">
    <div class="container">
      <div class="section_header ">
        <div class="row">
      <div class="section_content teamy-team">
      <div class="col-md-3">
        <div class="teamy teamy_style1 teamy_mask-circle">
          <div class="teamy_layout">
            <div class="teamy_preview"> <img src="https://cdn.discordapp.com/attachments/822541048059920435/823516787102449664/income.png" class="teamy_avatar" alt="The demo photo"> </div>
          </div>
          <div class="teamy_content">
            <span class="teamy_post">10€/Month is what it takes to make the magic happen</span> </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="teamy teamy_style1 teamy_mask-circle">
          <div class="teamy_layout">
            <div class="teamy_preview"> <img src="https://cdn.discordapp.com/attachments/822541048059920435/823518250280681492/student.png" class="teamy_avatar" alt="The demo photo"> </div>
          </div>
          <div class="teamy_content">
            <span class="teamy_post">50% goes to pay off student loans</span> </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="teamy teamy_style1 teamy_mask-circle">
          <div class="teamy_layout">
            <div class="teamy_preview"> <img src="https://cdn.discordapp.com/attachments/822541048059920435/823517411105832980/trophy.png" class="teamy_avatar" alt="The demo photo"> </div>
          </div>
          <div class="teamy_content">
            <span class="teamy_post">40% is redistributed to our students as weekly prizes</span> </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="teamy teamy_style1 teamy_mask-circle">
          <div class="teamy_layout">
            <div class="teamy_preview"> <img src="https://cdn.discordapp.com/attachments/822541048059920435/823518690812231690/credit-card.png" class="teamy_avatar" alt="The demo photo"> </div>
          </div>
          <div class="teamy_content">
            <span class="teamy_post">1€/Month goes towards general processing fees</span> </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </section>


  <section class=" text-center section-block-grey" id="sec_1">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <p class="about_description">We believe in building a future where students are not prisoners to student loans, but active participants in a society, free from debt.
          <br>This place is yours.
          <br>Welcome.
          </p>
          <a href="/users/sign_up" class="edit mt-5">Start Playing Now</a>
        </div>
      </div>
      </section>

  </body>

