<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<%= stylesheet_link_tag "how_section" %>


<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Ludee</h1>
        <h2 class="">The Crowdfunding Quiz Game to help students pay off their student loan
        and earn some cash on the side.</h2>
        <a href="/users/sign_up" class="btn btn-primary btn-xl rounded-pill mt-5">Start Playing Now</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  <body>
    <section class="how_it_works">
    <div class="section-block-grey">
    <div class="container">
      <div class="container">
        <h2 class="">How It Works</h2>
        <h4>Ludee.org is a non-profit organization created with the sole purpose of helping students pay off
        their student loans while playing a fun quizz game and win weekly awards.</h4>
      </div>
      <div class="row mt-10">
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-lightbulb"></i> </div>
                  <div class="serv-section-desc">
                      <h4>Sign Up</h4>
                      <h5>And Start Playing Trivia</h5>
                  </div>
                  <div class="section-heading-line-left"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2 serv-section-2-act">
                  <div class="serv-section-2-icon serv-section-2-icon-act"> <i class="fas fa-award"></i> </div>
                  <div class="serv-section-desc">
                      <h4>Play</h4>
                      <h5>And Win Weekly Awards</h5> </div>
                  <div class="section-heading-line-left"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
              <div class="serv-section-2">
                  <div class="serv-section-2-icon"> <i class="fas fa-credit-card"></i> </div>
                  <div class="serv-section-desc">
                      <h4>Loan</h4>
                      <h5>Get Your Student Loan<br> Paid Off</h5> </div>
                  <div class="section-heading-line-left"></div>
              </div>
          </div>
      </div>
      </div>
  </div>
</div>
    </section>
    <section class="how_it_works">
      <div class="section-block-white">
        <div class="container">
          <div class="container">
        <h2 class="">How Much?</h2>
        <h4>Just so you know, 90% of the generated income on Ludee goes directly to our users, while 10% is used to operate the Ludee platform, less banking and process charges.</h4>
      </div>

      </div>
  </div>
</div>
    </section>
    <section class="section">
    <div class="container">

      <div class="section_header">
        <div class="row">
      <div class="section_content teamy-team">
      <div class="col-md-3">
        <div class="teamy teamy_style1 teamy_mask-circle">
          <div class="teamy_layout">
            <div class="teamy_preview"> <img src="https://cdn.discordapp.com/attachments/822541048059920435/822541104317988884/money.png" class="teamy_avatar" alt="The demo photo"> </div>
            <div class="teamy_back">
              <div class="pricing"><h2>10€/Month</h2></div>
            </div>
          </div>
          <div class="teamy_content">
            <span class="teamy_post">10€/Month is what it takes to make the magic happen</span> </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="teamy teamy_style1 teamy_mask-circle">
          <div class="teamy_layout">
            <div class="teamy_preview"> <img src="https://cdn.discordapp.com/attachments/822541048059920435/822541103446097950/money-back-guarantee.png" class="teamy_avatar" alt="The demo photo"> </div>
            <div class="teamy_back">
              <div class="pricing"><h2>50% student loan</h2></div>
            </div>
          </div>
          <div class="teamy_content">
            <span class="teamy_post">50% goes to pay off student loans</span> </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="teamy teamy_style1 teamy_mask-circle">
          <div class="teamy_layout">
            <div class="teamy_preview"> <img src="https://cdn.discordapp.com/attachments/822541048059920435/822541102132363341/debt.png" class="teamy_avatar" alt="The demo photo"> </div>
            <div class="teamy_back">
              <div class="pricing"><h2>40% weekly prizes</h2></div>
            </div>
          </div>
          <div class="teamy_content">
            <span class="teamy_post">40% is redistributed to our students as weekly prizes</span> </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="teamy teamy_style1 teamy_mask-circle">
          <div class="teamy_layout">
            <div class="teamy_preview"> <img src="https://cdn.discordapp.com/attachments/822541048059920435/822541100455428106/debit-card.png" class="teamy_avatar" alt="The demo photo"> </div>
            <div class="teamy_back">
              <div class="pricing"><h2>10% <br>FEES</h2></div>
            </div>
          </div>
          <div class="teamy_content">
            <span class="teamy_post">1€/month goes towards general processing fees</span> </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="py-5 text-center section-block-grey" id="sec_1">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h5 class="about_description">We believe in building a future where students are not prisoners to student loans, but active participants in a society, free from debt.
          <br>This place is yours.
          <br>Welcome.
          </h5>
          <a href="/users/sign_up" class="btn btn-primary btn-xl rounded-pill mt-5">Start Playing Now</a>
        </div>
      </div>
      </section>

  </body>

