<%= stylesheet_link_tag "loan_rules" %>

<div class="container mt-5 mb-5">
	<div class="row" id="loan">
	    <h1 class="offset-md-3 mr-2">Loan Registration Process</h1>
		<div class="col-md-6 offset-md-3">
			<h5>The following are design to simplify the process to register your loan to enter the Ludee Global Funding Queue.</h5>
            <h5>Please send a copy of all the following documents to:</h5>
            <div class="span4">
                <h4>Email: <strong id="info">loan.registration@ludee.org</strong></h4>
            </div>
			<ul class="timeline">
                <li>
					<h5>Your Info</h5>
					<p>This is the information we need to verify your ID.<br><br>
                    • Copy of your Passeport not expired.<br>
                    • Proof of address (i.e. utilities bill)</p>
				</li>
                <li>
					<h5>Loan Info</h5>
					<p>This is the information we need to verify your loan status with your bank.<br><br>
                    • Bank Name<br>
                    • Loan ID number<br>
                    • Payment Due Date<br>
                    • Copy of your loan contract</p>
				</li>
                <li>
					<h5>School Info</h5>
					<p>This is the information we need to verify your student status.<br><br>
                    • School Name<br>
                    • School Address<br>
                    • Student ID number<br>
                    • Last Grade Transcript<br>
                    • Graduation Date</p>
				</li>
			</ul>
            <br><br>
            <h1>NOTE:</h1>
            <h6>Please note that due to the extremely high number of demand, the process time per registration request can vary from 1 to 4 weeks.<br><br>
            In order to speed up the process, please make sure that all the requested information is correct when sending it to us. 80% of delays are usually
            due to wrong information.<br><br>
            After review of your application, we will notify you via the email you registerd with on our platform of the state of your loan registration.<br>
            Once your loan is validated, it will appear on the Ludee Global Funding Queue on your dashboard.</h6>
		</div>
	</div>
</div>