<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Privacy</h1>
        <h2 class="masthead mb-0">Privacy is a fundamental <span class="text-warning">human right.</span></h2>
      </div>
    </div>
    <div class="bg-circle-2 bg-circle"></div>
  </header>
  <section class="bg-black">
    <div class="container text-white bg-black">
    <div class="card bg-dark text-white">
        <div class="row featurette">
            <div class="col-md-7 pt-5 px-5">
                <h2 class="featurette-heading">We focus a lot on your privacy <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">At Ludee, it’s also one of our core values. Your personal information are important to so many parts of your life. What you share from those experiences, and who you share it with, should be up to you.
                 We design an user interface to protect your <span class="text-info">privacy</span> and give you control over your information. It’s not always easy. But that’s the kind of innovation we believe in.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://i.pinimg.com/originals/51/e4/9e/51e49e4bff8bb8bac6120dfb0787cbc7.jpg" data-holder-rendered="true">
            </div>
        </div>
        </div>
        </div>
</section>