<%= stylesheet_link_tag "uniform" %>
<%= stylesheet_link_tag "rules" %>


<header class="mastheads text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Rules</h1>
        <h2 class="masthead mb-0">A great way to <span class="text-warning">Start.</span></h2>
      </div>
    </div>
    <div class="bg-circle-2 bg-circle"></div>
</header>
<section class="bg-black">
<div class="container bg-purple pt-8 pb-8">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="timeline-year">I.</span>
                        <div class="timeline-icon">
                            <i class="fa fa-play"></i>
                        </div>
                        <h3 class="title">First Rules</h3>
                        <p class="description">
                        At the beginning of each game you independently answer general-purpose trivia statements True or False. Take your time there is no Rush!
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="timeline-year">II.</span>
                        <div class="timeline-icon">
                            <i class="fa fa-random"></i>
                        </div>
                        <h3 class="title">Second Rules</h3>
                        <p class="description">
                        Rack up as many points as you can. The game is over after three incorrect answers. Be careful, you don't want to wait for three weeks 
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="timeline-year">III.</span>
                        <div class="timeline-icon">
                            <i class="fa fa-spinner"></i>
                        </div>
                        <h3 class="title">Third Rules</h3>
                        <p class="description">
                        A game lasts 7 days. This is called the inner cycle. You might win 100$ if you are the lucky winner! Be the first one to win! Do it!
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="timeline-year">IV.</span>
                        <div class="timeline-icon">
                            <i class="fa fa-money"></i>
                        </div>
                        <h3 class="title">Finally?</h3>
                        <p class="description">
                            You won a prize?? Don't worry we will contact you as soon as possible, so sit back relax. You are about to be loan free... Great Day isn'it?
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>