<%= stylesheet_link_tag "uniform" %>
<%= stylesheet_link_tag "rules" %>


<header class="mastheads text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Rules</h1>
        <h2 class="masthead mb-0">A great way to <span class="text-warning">Start.</span></h2>
      </div>
    </div>
    <div class="bg-circle-2 bg-circle"></div>
</header>
<section class="bg-black">
<div class="container bg-purple pt-8 pb-8">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <a class="timeline-content">
                        <span class="timeline-year">I.</span>
                        <div class="timeline-icon">
                            <i class="fa fa-credit-card-alt"></i>
                        </div>
                        <h3 class="title text-white">First Rules</h3>
                        <p class="description text-white">Playing on Ludee helps crowdfund our loan wallet. Anyone can play. In fact, the more, the merrier. You can start a game at any time.
                        You can play as much as you wish.                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a class="timeline-content">
                        <span class="timeline-year">II.</span>
                        <div class="timeline-icon">
                            <i class="fa  fa-check-square-o"></i>
                        </div>
                        <h3 class="title text-white">Second Rules</h3>
                        <p class="description text-white">
                        You independently answer general-purpose questions. Only correct answers will be accounted for. You will get bonus points if you surpass your previous session score.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a  class="timeline-content">
                        <span class="timeline-year">III.</span>
                        <div class="timeline-icon">
                            <i class="fa fa-calendar-check-o"></i>
                        </div>
                        <h3 class="title text-white">Third Rules</h3>
                        <p class="description text-white">
                        A Game Session lasts 1 week.
                        A session starts every Thursday at 3pm CEST and ends every Wednesday at 3pm CEST.
                        </p>
                    </a>
                </div>
                <div class="timeline">
                    <a class="timeline-content">
                        <span class="timeline-year">IV.</span>
                        <div class="timeline-icon">
                            <i class="fa fa-child"></i>
                        </div>
                        <h3 class="title text-white">Fourth Rules</h3>
                        <p class="description text-white">
                        Every Friday, we will anounce the winners of the previous week game session.
                        </p>
                        <br>
                    </a>
                </div>
                <div class="timeline">
                    <a class="timeline-content">
                        <span class="timeline-year">V.</span>
                        <div class="timeline-icon">
                            <i class="fa fa-power-off"></i>
                        </div>
                        <h3 class="title text-white">Fifth Rules</h3>
                        <p class="description text-white">
                        As long as there are questions available, you can play as many times as you like to strive for higher scores. However, you can only play on one account. If you play on more than one account, we reserve the right to ban you from Ludee.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>