<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Rules</h1>
        <h2 class="masthead mb-0">Learn the rules like a pro, so you can break them like a <span class="text-danger">boss</span></h2>
      </div>
    </div>
    <div class="bg-circle-2 bg-circle"></div>
  </header>
  <section class="bg-black">
    <div class="container text-white pt-5 bg-black">
    <div class="card bg-dark text-white">
        <div class="row featurette ">
            <div class="col-md-7 pt-5 px-5">
                <h2 class="featurette-heading">Title<span style="color:BlueViolet;">Ludee</span> services</h2>
                <p class="lead">text</p>
            </div>
            <div class="col-md-5 mr-0">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="height: 250px;" src="https://image.freepik.com/free-vector/chess-game-concept-with-realistic-board-black-white-pieces_1284-13711.jpg" data-holder-rendered="true">
            </div>
        </div>
        </div>
        </div>
</section>

<section class="bg-black">
<div class="container text-white py-5 bg-black">
<div class="card bg-dark text-white">
    <div class="row featurette">
        <div class="col-md-7 order-md-2 px-5 py-5">
            <h2 class="featurette-heading text-warning">title</h2>
            <p class="lead">text </p>
        </div>
        <div class="col-md-5  order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 250px;" src="https://image.freepik.com/free-vector/chess-game-concept-with-realistic-board-black-white-pieces_1284-13711.jpg" data-holder-rendered="true">
        </div>
    </div>
    </div>
    </div>
</section>