<section class="projects-section bg-white" id="projects">
<div class="container">
    <!-- Featured Project Row-->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="https://images.squarespace-cdn.com/content/v1/50674283c4aaf6add07e8436/1441439976108-LK04QZVJ07P19QJTJKBD/ke17ZwdGBToddI8pDm48kOggE0Ch6pMGalwtLMqzsSB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Ufo5RWkg_J4of0jUNHaDHx6pZKBvpVYzidBWCapg0tuoMuEaB2HPGSYDV-11UTcW2g/brame-du-cerf-ecosse©stephaneleroy-photographe-_80P8703.jpg" alt="" /></div>
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
                <h4>How to Play ?</h4>
                <p class="text-black-50 mb-0">Like life, Ludee is a team game.</p>
            </div>
        </div>
    </div>
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="https://www.marionvelten.com/wp-content/uploads/2019/05/cerf-brâme.jpg" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">First Rules </h4>
                        <p class="mb-0 text-white-50">At the beginning of each game, you get matched with 2 random player.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6"><img class="img-fluid" src="https://www.marionvelten.com/wp-content/uploads/2019/05/cerf-brâme.jpg" alt="" /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Second Rules</h4>
                        <p class="mb-0 text-white-50">You independently answer general-purpose trivia statements True or False within a 10-second time limit</p>
                        <hr class="d-none d-lg-block mb-0 mr-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project three Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="https://www.marionvelten.com/wp-content/uploads/2019/05/cerf-brâme.jpg" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Third Rules</h4>
                        <p class="mb-0 text-white-50">Rack up as many points as you can. The game is over after three incorrect answers.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Four Row-->
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6"><img class="img-fluid" src="https://www.marionvelten.com/wp-content/uploads/2019/05/cerf-brâme.jpg" alt="" /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Fourth Rules</h4>
                        <p class="mb-0 text-white-50">A game lasts 7 days. This is called the inner cycle.</p>
                        <hr class="d-none d-lg-block mb-0 mr-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project fitfh Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="https://www.marionvelten.com/wp-content/uploads/2019/05/cerf-brâme.jpg" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Fifth Rules</h4>
                        <p class="mb-0 text-white-50">At the end of each inner cycle, the team with the highest points count wins the weeky money prize.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>