<header class="mastheads text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Account</h1>
        <h2 class="masthead mb-0">Keep or <span class="text-warning">Edit.</span></h2>
      </div>
    </div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
<section>
    <div class="row py-8 px-4 bg-black">
        <div class="col-md-5 mx-auto">
            <!-- Profile widget -->
            <div class="bg-dark shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3"><img src="https://i.pinimg.com/originals/54/12/7b/54127bae1e76b821190fb9abb92812c2.png" alt="..." width="130" class="rounded my-4"><a href="/users/edit" class="btn btn-outline-danger btn-sm btn-block">Edit profile</a></div>
                        <div class="media-body mb-5 text-white">
                            <h2 class="mt-0 mb-0 text-white"><%= current_user.email %></h2>
                            <p class="small mb-0 text-muted">Member since<i class="fas fa-map-marker-alt mr-2"></i><%= current_user.created_at %>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="px-4 py-3">
                    <h3 class="mb-0 text-info">Your Current Score: </h3>
                    <div class="p-4 rounded shadow-sm bg-muted">
                        <h4 class="font-italic mb-0 text-light"><%= current_user.score %></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section>