<%= stylesheet_link_tag "stripe_button" %>
<section class="main_section  text-center container-fluid">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light pt-5 pb-3">9.99€/Month</h1>
        <p class="lead text-muted pb-3">
        We are glad you're here. <br> At Ludee, our goal is to help you and as many students as possible to pay off theis student loans.<br>
        Click the Subscribe Now button to enter your credit and start playing now.
        </p>
        <div class="container-fluid" id="stripe">
            <%= button_to 'subscribe now', orders_path, class: "btn-stripe ", method: :post, remote: true %>
        </div>
      </div>
    </div>
  </section>
