<h1> Find me in app/views/static_pages/stripe_button.html</h1>
<p> Hello World </p>

<div class="container">
    <div id="stripe">
        <%= button_to 'subscribe now', orders_create_path, method: :post, remote: true %>
    </div>
</div>