<header class="mastheads text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Terms</h1>
        <h2 class="masthead mb-0">And ... well obviously <span class="text-danger">Condition.</span></h2>
      </div>
    </div>
    <div class="bg-circle-2 bg-circle"></div>
  </header>
  <section class="bg-black">
    <div class="container text-white bg-black py-8">
    <div class="card bg-dark text-white">
        <div class="row featurette">
            <div class="col-md-7 pt-5 px-5">
                <h2 class="featurette-heading">Find legal information and resources
                for <span style="color:BlueViolet;">Ludee</span> services</h2>
                <p class="lead">Before using Ludee software or hardware products, you may review the terms and conditions of Ludee's end user software license agreements.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px;" src="https://i.pinimg.com/originals/4c/2f/d1/4c2fd1cd1ea86565098ed6c0a505811c.jpg" data-holder-rendered="true">
            </div>
        </div>
        </div>
        </div>
</section>

<section class="bg-black">
<div class="container text-white bg-black pb-8">
<div class="card bg-dark text-white">
    <div class="row featurette">
        <div class="col-md-7 order-md-2 px-5 py-5">
            <h2 class="featurette-heading text-warning">Intellectual Property</h2>
            <p class="lead">Ludee’s innovation is embodied in its Intellectual Property, including Patents, Trademarks, and Copyrights. </p>
        </div>
        <div class="col-md-5  order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px;" src="https://cdn.artphotolimited.com/images/5cf7ce68274d0274f16f8746/1000x1000/une-tete-de-cerf-elaphe-qui-depasse-des-fougeres-en-periode-de-brame.jpg" data-holder-rendered="true">
        </div>
    </div>
    </div>
    </div>
</section>