<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> We have just received your payment! </h1>
    <p>
      You are one step closer from paying your student loan... <%= @user.email %>.
    </p>
    <p>
      What are you waiting for? Game on! 
          </p>
    <p> See you at ludee.org !
  </body>
</html>