<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut, merci de contribuer a la comunauté Ludee !</h1>
    </br>
    <h3>Nous avons bien reçue ton paiement</h3>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <a href="http://ludee-org.herokuapp.com/">ludee.org<a>
    </p>
    <p> À très vite sur ludee.org !
  </body>
</html>