<h1><%= @trivia.category.name %></h1>
<<<<<<< HEAD
<h2><%= CGI.unescapeHTML(@trivia.question) %></h2>
=======
<h2><%= CGI.unescapeHTML(@trivia.question) %></h2>
>>>>>>> c8957cff887a61fd91d8e358aa922c831ded4cea
