All Trivia Questions
<br>
<br>
Categories:
<% @trivia.map{|trivia| trivia.category.name}.uniq.each do |cat| %>
  <li><%= link_to(cat, trivium_path(Category.find_by(name: cat).id)) %></li>
<% end %>
<br>

