<!DOCTYPE html>
<head>
<%= stylesheet_link_tag "confirmpayment" %>

<div class="container pt-5 pb-5">
    <div class="main-body">
          <div class="card">
                  <div class="card-body">
                  
  <h1>Payment confirmed</h1>
  <p>Thank you for your support for the students. :) </p>
    <%= link_to "Back to Home", root_path, class: "edit edit:hover" %>
    </div>
  </div>
</div>
</div>
</div>

</head>