<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<% if user_signed_in? %>
      <div class="col-md-8 mx-auto py-3 text-center">
        <%= button_to "Checkout", orders_path, class: "btn btn-primary btn-block", remote: true %>
      </div>
    <% else %>
      <div class="col-md-8 mx-auto py-3 text-center">
        <%= button_to "Checkout", new_user_registration_path, class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

