@import url("https://fonts.googleapis.com/css?family=Rubik:500,700|Roboto:400,600");

body {
  padding-top: 100px;
}

.section-padding {
    padding: 45px 0;
}
.section-dark {
    background-color: #100F10;
    z-index: -2;
}

/* ============================================== Baloo's Edit =========================== */

.section-title {
  color: white;
}

#info {
    color: white;
}

.title-intro {
  color: rgb(162, 162, 162);
}

.my-widgets {
  color: rgb(162, 162, 162);
  padding-botton: -5px;
}

#host {
  color: white;
}

.edit {
  background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 50px;
  border-color: #1B1B1B;
  display: flex;
  justify-content: center;
  }
 
  .edit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }