body {
    background-color:  #100F10;
}

#top_header {
    background: url(css/homepage/deer_WP.jpg);
    background-size:cover;
}

#how_much {
    font-size: 50px;
}

.mt-60{
    margin-top:60px;
}

.just_know {
    width: 70%;
    display: flex;
    justify-content: center;
}

#p-info {
  font-size: 20px;
}

#p_sec {
  font-size: 20px;
}

.section-block-grey {
    padding: 90px 0px 90px 0px;
    background-color: #100F10;
    color: white;
}

.section-block-white {
    padding: 90px 0px 90px 0px;
    background-color: #1B1B1B;
}

.serv-section-2 {
    position: relative;
    border: 1px solid #eee;
    background: #1B1B1B;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
    border-radius: 5px;
    overflow: hidden;
    padding: 30px;
}

.serv-section-2:before {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 0;
    content: " ";
    width: 120px;
    height: 120px;
    background: #f5f5f5;
    border-bottom-left-radius: 136px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-2-icon {
    position: absolute;
    top: 18px;
    right: 22px;
    max-width: 100px;
    z-index: 1;
    text-align: center;
}

.serv-section-2-icon i {
    color: #5f27cd;
    font-size: 48px;
    line-height: 65px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-desc {
    position: relative;
}

.serv-section-2 h4 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.serv-section-2 h5 {
    color: #333;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    margin-top: 5px;
}

.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #5f27cd;
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.serv-section-2 p {
    margin-top: 25px;
    padding-right: 50px;
}

.serv-section-2:hover .serv-section-2-icon i {
    color: #fff;
}

.serv-section-2:hover:before {
    background: #5f27cd;
}

.how_it_works {
    color: #fff;
    text-align: center;
}

.how_it_works p {
    font-size: 25px;
    font-weight: 300;
}

.teamy {
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   .teamy_layout {
    position: relative;
   }
   .teamy_preview {
    position: relative;
    overflow: hidden;
   }

   .teamy_avatar {
    width:100px;
    height: 100px;
    position: relative;
    z-index: 1;
   }
   .teamy_preview:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
   }

   .teamy_name {
    margin-top: 0;
    margin-bottom: 0;
    font-family:'montserratbold' ;
   }
   .teamy_post {
    display: block;
   }
   /*
    * 2. visual styles
    */

   /* common styles for visual styles */

   .teamy_back {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 20px;
   }
   .teamy_content {
    padding: 15px;
    font-weight: 300;
   }
   .teamy_name {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #282828;
    font-family: 'montserratbold';
   }
   .teamy_post {
    margin-top: 5px;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
   }
   /* style 1 */

   .teamy_style1 {
    text-align: center;
   }
   .teamy_style3 .teamy_name {
    font-size: 2em;
   }
   /*
    * 3. masks
    */

   /* mask circle */

   .teamy_mask-circle .teamy_preview:before {
    width: 0;
    height: 0;
    padding: 25%;
    border-radius: 50%;
    transition: transform .3s ease, opacity .3s ease-out;
    will-change: opacity, transform;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
   }
   .teamy_mask-circle:hover .teamy_preview:before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(4);
    transition-duration: .6s;
   }
   /* mask triangle */

   .teamy_mask-triangle .teamy_preview:before {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-clip-path: polygon(50% 10%, 15% 90%, 85% 90%);
    clip-path: polygon(50% 10%, 15% 90%, 85% 90%);
    transition-property: transform, opacity;
    transition-duration: .2s, .4s;
    transition-delay: .4s, 0s;
    transition-timing-function: ease-out;
    will-change: transform, opacity;
    transform: translate(-50%, -50%) scale(1);
   }
   .teamy_mask-triangle:hover .teamy_preview:before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(5);
    transition-delay: .1s, 0s;
    transition-duration: .4s;
   }
   /*
    * 4. animations for preview
    */

   /* zoom */

   .teamy_zoom-photo .teamy_avatar {
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1);
   }
   .teamy_zoom-photo:hover .teamy_avatar {
    transform: scale(1.2);
   }
   /* zoom and rotate */

   .teamy_zoom-rotate-photo .teamy_avatar {
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) rotate(0);
   }
   .teamy_zoom-rotate-photo:hover .teamy_avatar {
    transform: scale(1.2) rotate(5deg);
   }
   /* zoom and slide */

   .teamy_zoom-slide-photo .teamy_avatar {
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) translate(0, 0);
   }
   .teamy_zoom-slide-photo:hover .teamy_avatar {
    transform: scale(1.2) translate(4%, 4%);
   }

   /*
    * 5. default skin
    */

   @media screen and (max-width: 360px) {
   .melnik909 {
    display: none;
   }
   }
   /* layout */

   .section:nth-of-type(even) {
    background-color: var(--colorGray);
   }
   .section_header {
    position: relative;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: capitalize;
   }
   .section_header:before {
    content: "";
    width: 5rem;
    height: 3px;
    background-color: var(--colorAlternative);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   }
   .section_title {
    font-size: 2.4rem;
    font-family: 'heebo';
   }
   .section_title span {
    color: #ffffff;
   }
   .section_hint {
    font-size: 1.4rem;
    display: block;
    margin-top: 0rem;
   }
   .section_content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
   }

   @media screen and (min-width: 641px) {
   .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
   }
   .section_header {
    background-color:#1B1B1B;
   }
   .section_content {
    justify-content: center;
   }
   }

   @media screen and (max-width: 640px) {
   .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
   }
  
   }

   .about_description {
       font-weight: 400;
       font-size: 25px;
   }

   /* grid */

   .teamy-team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   }

   @media screen and (max-width: 424px) {
   .teamy {
    width: 100%;
   }
   .teamy:not(:first-child) {
    margin-top: 3rem;
   }
   }

   /*==================== How it works section =========================*/

   .our-team-main
{
    color: white;
	width:100%;
	height:auto;
	background:#1B1B1B;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:40px 15px 15px 15px;
	text-align: center;
	background:#1B1B1B;
}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#1B1B1B;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#1B1B1B;
	transition:0.5s;
}

/*=================== Play Now Button ==================== */

.edit {
  background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 50px;
  border-color: #1B1B1B;
  display: flex;
  justify-content: center;
  }
 
  .edit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

/* ===================== TimeLine =================== */

.rules {
    background-color:rgba(50, 50, 50, 0.16);
}
#timeline {
    color: white;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }

.timeline-body {
    color: grey;
}

  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  .timeline > li.timeline-inverted + li:not(.timeline-inverted),
  .timeline > li:not(.timeline-inverted) + li.timeline-inverted {
  margin-top: -60px;
  }
  
  .timeline > li:not(.timeline-inverted) {
  padding-right:90px;
  }
  
  .timeline > li.timeline-inverted {
  padding-left:90px;
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: rgb(58, 0, 108);
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.primary {
    background-color: purple;
  }
  .timeline-badge.success {
    background-color: purple;
  }
  .timeline-badge.warning {
    background-color: purple;
  }
  .timeline-badge.danger {
    background-color: purple;
  }
  .timeline-badge.info {
    background-color: purple;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }

  .working {
    background-color:rgba(50, 50, 50, 0.16);
    height: 250px;
    padding-top: 20px;
    border-radius: 5px;
  }

  #tito {
    font-size: 15px;
  }