body {
    background-color: #100F10;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #780cf4;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

#loan {
    color: white;
}

#info {
    color: #780cf4;
}


/*=================== Edit Button ==================== */

.edit {
    background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-color: #1B1B1B;
    display: flex;
    justify-content: center;
  }
 
  .edit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }