.py-8{
    padding: 8rem;
}

.pb-8{
    padding-bottom: 8rem;
}

.pt-8{
    padding-top: 8rem;
}

hr.one {
    border-top: 1px solid rgb(132, 0, 194);
  }

hr.two {
    border-top: 1px dotted rgb(226, 200, 238);
  }
