    <footer class="footer-dark bg-dark fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 item text">
                    <h4>Ludee</h4>
                </div>
                <div class="col">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Rules</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Termes</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">©2021 Ludee. All Rights Reserved</p>
        </div>
    </footer>